<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column h-100">
<!-- Entire visible page content (except footer) -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img class="navbar-brand"  src="/images/batman_logo_PNG5.png"  height="100" width="170" alt="batman">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<!-- Content -->

<div class="h1 text-center">Latest Works</div>
<div class="container ">
  <div id="services" class="card-group  justify-content-around text-center row  col-12 ">
    <div class="card border-light p-0 col-sm-3 ">
      <img src="https://assets.thalia.media/img/artikel/aa3ed151fea1e059d62f607c9bab2e8ea03a3fdc-00-00.jpeg" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title text-start">Batman Year One</h5>

        <p class="card-text text-start"><small class="text-danger"> <a href="https://www.imdb.com/list/ls059646235/">Details</a></small></p>
      </div>
    </div>
    <div class="card p-0 border-light col-sm-3  ">
      <img src="https://i1.whakoom.com/large/18/31/3b22dcfbeb8f421a8d738f7756494e58.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-start">Batman Urban Legends</h5>

        <p class="card-text text-start"><small class="text-danger"> <a href="https://www.imdb.com/list/ls059646235/">Details</a></small></p>
      </div>
    </div>
    <div class="card p-0 border-light  col-sm-3 ">
      <img src="https://assets.thalia.media/img/artikel/018386a4e52f680cf1228e87b97de63026da3d3f-00-00.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-start">Batman : the killing joke</h5>

        <p class="card-text text-start"><small class="text-danger"> <a href="https://www.imdb.com/list/ls059646235/">Details</a></small></p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4 ">
  <div class="card-group  justify-content-around text-center row  col-12">
    <div class="card p-0 border-light  col-sm-3 ">
      <img src="https://images.moviesanywhere.com/bd47f9b7d090170d79b3085804075d41/c6140695-a35f-46e2-adb7-45ed829fc0c0.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-start">Batman : The Dark Night</h5>

        <p class="card-text text-start"><small class="text-danger"> <a href="https://www.imdb.com/list/ls059646235/">Details</a></small></p>
      </div>
    </div>
    <div class="card p-0 border-light  col-sm-3 ">
      <img src="https://m.media-amazon.com/images/M/MV5BMDdmMTBiNTYtMDIzNi00NGVlLWIzMDYtZTk3MTQ3NGQxZGEwXkEyXkFqcGdeQXVyMzMwOTU5MDk@._V1_.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-start">Batman somehting?</h5>

        <p class="card-text text-start"><small class="text-danger"> <a href="https://www.imdb.com/list/ls059646235/">Details</a></small></p>
      </div>
    </div>
    <div class="card p-0 border-light  col-sm-3 ">
      <img src="https://m.media-amazon.com/images/M/MV5BOTY4YjI2N2MtYmFlMC00ZjcyLTg3YjEtMDQyM2ZjYzQ5YWFkXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-start">Batman begins</h5>
        <p class="card-text text-start"><small class="text-danger"> <a href="https://www.imdb.com/list/ls059646235/">Details</a></small></p>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="footer mt-auto py-3">
  <div class="container-fluid text-center">
    <span>&copy; Bern University of Applied Sciences</span>
  </div>
</footer>
</body>
</html>